<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <!-- make this an absolute path so that it will not append the product.imageUrl
                                    to the current path but rather create a new path with only the domain and then product.imageUrl path -->
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                    <input type="hidden" name="productId" value="<%= product._id %>" />

                                    <!-- Pass in "this" as a param to deleteProduct which refers to the element
                                    on which we just clicked (which is the button) -->
                                    <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>
                            

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <!-- We load this script at the end of the file to ensure the entire DOM has been rendered and parsed
            by the time we execute this JS code -->
            <script src="/js/admin.js"></script>